DT_COMPAT_ZMK_BEHAVIOR_STATUS_SELECTOR_HANDLER := zmk,behavior-status-selector-handler
DT_COMPAT_ZMK_BEHAVIOR_STATUS_SELECTOR_TOGGLE := zmk,behavior-status-selector-toggle

config ZMK_BEHAVIOR_STATUS_SELECTOR_HANDLER
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_STATUS_SELECTOR_HANDLER))

config ZMK_BEHAVIOR_STATUS_SELECTOR_TOGGLE
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_STATUS_SELECTOR_TOGGLE))